* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--nova: "proxima-nova", sans-serif;
	--nova-regular: 400;
	--nova-bold: 700;
	--open-sans: "open-sans", sans-serif;
}
html {
	scroll-behavior: smooth;
  }
body {
	font-family: var(--nova);
	font-weight: var(--nova-regular);
	color: #354E57;
	background-color: #EEF3F4;
	font-size: 16px;
}
.centrado {
	display: flex;
	justify-content: center;
	align-items: center;
}
.light {
	font-weight: 100;
}
.regular {
	font-weight: var(--nova-regular);
}
.bold {
	font-weight: var(--nova-bold);
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
h3 {
	font-size: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 20px 0;
}
.container-inicio {
	display: flex;
	width: 80%;
	align-items: center;
	margin-top: 70px;
	height: 50%;
}
#promo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #A67744;
	color: #F7F5E6;
	height: 40px;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inicio {
	height: 95vh;
	background-image: url(./img/updated-header.png);
}
.inicio-shop {
	height: 60vh;
	background-image: url(./img/shop-page/shop-inicio.png);
	background-size: cover;
	width: 100%;
	align-items: center;
	justify-content: center;
}
nav { 
	display: flex;
	justify-content: center;
	width: 100%;
}
.nav-logo {
	margin: 40px 0;
}
.nav-logo ul {
	justify-content: center;
}
.logo {
	margin: 0 50%;
}
.logo h1 {
	font-family: var(--open-sans);
	font-size: 32px;
	font-weight: 100;
}
header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-weight: var(--nova-bold);
}
ul {
	display: flex;
}
li {
	list-style: none;
	cursor: pointer;
}
a {
	margin: 20px;
	color: #354E57;
	text-decoration: none;
}
.texto {
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	height: 45vh;
}
#shop-texto {
	height: 30vh;
}
.texto h1 {
	font-size: 300%;
}
.texto h3 {
	font-weight: 100;
}
.new {
	position:absolute;
	width: fit-content;
	margin: 10px 0 0 10px;
	padding: 5px 10px;
	background-color: #F7F7F7;
	font-size: 75%;
}
.new-inicio {
	width: fit-content;
	background-color: #F7F7F7;
	padding: 5px 10px;
	font-size: 75%;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #2E2E22;
	font-weight: 700;
	border: 2px solid #2E2E22;
}
.button:hover {
	background-color: #2E2E22;
	color: #EEF3F4;
}
.button-blanco:hover {
	background-color: #EEF3F4;
	color: #2E2E22;
}
.shop-products {
	width: 200px;
	padding: 5px 10px;
	margin: 0;
}
#solutions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 20vh;
	border-bottom: 2px solid #547665;
}
#solutions h1 {
	font-size: 175%;
}
.products {
	flex-direction: column;
}
#options {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#options a {
	margin: 0;
}
#options h3 {
	font-size: var(--nova-bold);
}
.cards {
	display: grid;
  	grid-template-columns: repeat(4, auto);
  	column-gap: 20px;
	margin: 50px 0;
}
.card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 20px 0;
}
.card .hover {
	display: none;
}
.card:hover .hide {
	display: none;
}
.card:hover .hover {
	display: block;
}
.img-card {
	height: fit-content;
	width: 100%;
	background-color: white;
}
.hombre {
	background-image: url(./img/recent-news/photo-1541980162-7db2c25d5b3b.png);
	background-size: cover;
}
.planta1 {
	background-image: url(./img/recent-news/yue-iris-eP6jHmYsAyA-unsplash.png);
	background-size: cover;
}
.mujer {
	background-image: url(./img/recent-news/jessica-felicio-QS9ZX5UnS14-unsplash.png);
	background-size: cover;
}
.planta2 {
	background-image: url(./img/recent-news/annie-spratt-ncQ2sguVlgo-unsplash.png);
	background-size: cover;
}
.card-title {
	margin-top: 10px;
}
.price {
	margin: 15px 0;
}
.add-cart {
	display: flex;
	justify-content: center;
	padding: 10px 40px;
}
.add-cart img {
	margin-right: 15px;
}
.crema3 {
	background-image: url(./img/annie-spratt-GJJo0gb7bfY-unsplash.png);
	background-size: cover;
}
#shop-more-container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	width: 100%;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
.row-img {
	height: 80vh;
}
.button-blanco {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
	border: 2px solid white;
}
.blanco {
	color: white;
}
.first {
	background-color: #547665;
}
.second {
	background-color: #EEF3F4;
}
.third {
	background-color: #A67744;
}
.first-img {
	background-image: url(./img/shop-more/primera-img.png);
}
.second-img-more {
	background-image: url(./img/shop-more/segunda-img.png);
}
.third-img {
	background-image: url(./img/shop-more/tercera-img.png);
}
.galeria {
	display: grid;
	gap: 27px;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	width: 100%;
}
.group {
	display: flex;
	justify-content: space-between;
	max-width: 50%;
}
.first-galery-img {
	grid-row: span 2;
}
.second-galery-img {
	grid-area: 2 / 2 / 4 / 3;
}
.title2 {
	flex-direction: column;
	text-align: center;
}
.title2 h1 {
	font-size: 48px;
}
.read {
	width: fit-content;
	border-bottom: 2px solid black;
}
/* Estilo para el cuadro de texto */
input[type="text"] {
    padding: 10px;
    border: 1px solid #A67744;
    color: #A67744;
    width: 70%;
}

/* Estilo para el botón */
input[type="submit"] {
    background-color: #A67744;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.subscribe {
	justify-content: space-between;
	margin-bottom: 50px;
}
.subscribe h1 {
	padding: 30px 0px;
	border-right: 2px solid #D7CCDD;
	width: 30%;
}
form {
	display: flex;
 	height: fit-content;
}
footer {
	background-color: #354E57;
	color: #fff;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
  	align-items: center;
}
.logo-form {
	margin: 0;
	width: 50%;
	height: 50%;
	display: flex;
  	flex-direction: column;
 	justify-content: space-around;
}
.logo-form h1 {
	font-family: var(--open-sans);
	font-size: 32px;
	font-weight: 100;
	font-size: 300%;
}
/* Estilo para el cuadro de texto */
.form-blanco [type="text"] {
    padding: 10px;
    border: 1px solid #fff;
    background-color: #354E57;
    width: 70%;
}

/* Estilo para el botón */
.form-blanco [type="submit"] {
    background-color: #354E57;
    color: white;
	border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="text"]::placeholder {
    color: #fff;
}
.footer-nav {
	height: 50%;
	width: 50%;
	justify-content: space-between;
}
.footer-nav ul {
	display: block;
}
.footer-nav a {
	display: block;
	color: #fff;
	padding: 10px 0;
	margin: 0;
}
.footer-nav h1 {
	margin-bottom: 20px;
}
.footer {
	align-items: center;
	border-bottom: 2px solid #F7F5E6;
	height: 100%;
}
.copy {
	height: 25vh;
	justify-content: space-between;
}
.blanco a {
	color: #fff;
	margin: 0;
	margin-right: 15px;
	border-bottom: 2px solid #fff;
}
.rights {
  	display: flex;
  	flex-direction: column;
	width: 100%;
}
.filter {
	border: 2px solid #354E57;
	padding: 10px;
  	justify-content: space-between;
  	align-items: center;
  	width: 25%;
}
.end {
	justify-content: end;
}
.categorias {
	width: 20%;
	align-self: start;
}
.categorias div {
	margin: 40px 0;
}
.categorias h3 {
	font-weight: var(--nova-regular);
	margin: 10px;
}
.shop {
	width: 100%;
	border-top: 2px solid #707070;
}
.products {
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	gap: 20px;
  	margin: 50px 0;
}
.big-product {
	grid-area: 1 / 1 / 3 / 3;
}
.big-img-card {
	background-image: url(./img/shop-page/hoja.png);
	height: 80%;
 	background-size: contain;
}
.bg-roses {
	background-image: url(./img/shop-page/bg-roses.png);
}
.bg-planta {
	background-image: url(./img/shop-page/bg-planta.png);
}
#manos {
	background-image: url(./img/shop-page/manos.png);
}
.categorias {
	display: none;
}
.big-product {
	grid-area: 1 / 1 / 3 / 3;
  }







@media (max-width: 480px) {
	#nav-abajo {
		display: none;
	}
	.inicio {
		background-image: url(./img/responsive/bg-img-responsive.png);
		background-repeat: no-repeat;
		width: 100%;
		height: 80vh;
    	background-position: center;
		background-size: cover;
	}
	.cards {
		grid-template-columns: repeat(2, auto);
		gap: 20px;
		margin: 30px 0;
	}
	#shop-more-container {
		display: grid;
		grid-template-columns: auto;
		width: 100%;
	}
	.second-img {
		grid-row: 4;
	}
	.galeria {
		grid-template-columns: 100%;
	}
	.first-galery-img {
		grid-row: 1;
	  }
	.first-img {
		grid-row: 2;
	}
	.second-img-more {
		grid-row: 4;
	  }
	.second-galery-img {
		grid-area: 4 / 1 / 4 / 1;
	}
	.second-img {
		grid-row: 5;
	}
	.cards {
		grid-template-columns: 100%;
	}
	.subscribe {
		flex-direction: column;
		align-items: start;
		height: 30vh;
	}
	.subscribe h1 {
		width: 100%;
		border: none;
		border-bottom: 2px solid #D7CCDD;
		font-size: 250%;
	}
	footer {
		margin-top: 50px;
	}
	.footer {
		flex-direction: column;
 	 	width: 90%;
	}
	.footer-nav {
		width: 100%;
		flex-wrap: wrap;
		height: auto;
		margin-top: 50px;
	}
	form {
		width: 100%;
		margin: 20px 0;
	}
	.logo-form {
		width: 100%;
		order: 2;
		margin-bottom: 20px;
	}
	#nav-shop,
	#nav-about {
		width: 50%;
	}
	.copy {
		flex-direction: column;
		align-items: start;
		padding: 15px 0;
		width: 90%;	
	}
	.rights ul {
		justify-content: space-between;
	}
	.texto {
		width: 80%;
	}
	#manos {
		height: 730px;
	}
	.products {
		grid-template-columns: repeat(2, 48%);
		margin: 50px 0;
	  }
	.filter {
		width: 100%;
	}
	.add-cart {
		padding: 10px 20px;
	}
}